<div class="container">
  <div class="row">
    <div class="dashboard-container padded-div-top-less">
      <div class="col-xs-12 col-sm-3">
        <%= image_tag @deaf_user.photo, class: "dashboard-profile-pic " %>
        <h1><%= (@deaf_user.name).upcase %></h1>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="profile-border">
          <h2>PROFILE</h2>
          <div class="row">
            <div class="col-xs-6">
              <h3>Languages</h3>
              <% @deaf_user.languages.each do |language|%>
              <p><%= language.name %></p>
              <% end %>
              <p class="underline"><%= link_to "Add a Language", new_deaf_user_language_skill_path(@deaf_user)%></p>
            </div>
            <div class="col-xs-6">
              <h3>Location</h3>
              <p><%= @deaf_user.location %></p>
              <p class= "underline"><%= link_to "Edit Profile", edit_deaf_user_path(@deaf_user)%></p>
            </div>
          </div>
        </div>
      </div>
      <div class= "col-xs-12 col-sm-6">
        <div class= "dashboard-upcoming-bookings ">
          <h2>UPCOMING BOOKINGS</h2>
          <div class="row">
            <% @upcoming_bookings.each do |booking| %>
            <div class="col-xs-6">
              <h3>Your booking with <%= booking.interpreter.name %>:</h3>
              <p class="text-left">Date <%=  booking.booking_date.strftime("%d/%m/%Y") %>  </p>
              <p class="text-left">From <%=  booking.booking_date.strftime("%H:%M") %>  to  <%=  (booking.booking_date + booking.duration).strftime("%H:%M") %> </p>
              <p class="text-left">$<%= (booking.interpreter.price.to_f  *  (booking.duration.to_f / 3600)) %></p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <h2>
          PAST BOOKINGS
        </h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row">
          <h2>
            REVIEWS YOU'VE WRITTEN
          </h2>
        </div>
      </div>
    </div>
    <% @past_bookings.each do |booking| %>
      <div class="padded-bottom">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <h3>Your booking with <%= booking.interpreter.name %>:</h3>
          <p class="text-left">Date: <%=  booking.booking_date.strftime("%d/%m/%Y") %>  </p>
          <p class="text-left">From: <%=  booking.booking_date.strftime("%H:%M") %>  to  <%=  (booking.booking_date + booking.duration).strftime("%H:%M") %> </p>
          <p class="text-left"><%= booking.interpreter.location %></p>
          <p class="text-left">$<%= (booking.interpreter.price.to_f  *  (booking.duration.to_f / 3600)) %></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <% if booking.review.nil? %>
          <div class="row">
            <h3>
              How was your experience with <%= link_to booking.interpreter.name, interpreter_path(booking.interpreter) %>?
            </h3>
            <p class="underline">
              <%= link_to "Leave a Review!", new_interpreter_booking_review_path(booking.interpreter ,booking)%>
            </p>
          </div>
          <% else %>
          <div class="row">
            <h3> Overall Performance:
              <span class="gold-star">
                <%= generate_review_stars(booking.review.overall_performance)%>
              </span>
            </h3>
            <div class="row">
              <div class="col-xs-6">
                <p>
                  Language Skill: <%= generate_review_stars(booking.review.language_ability)%>
                </p>
                <p>
                  Friendliness: <%= generate_review_stars(booking.review.friendliness)%>
                </p>
              </div>
              <div class="col-xs-6">
                <p>
                  Professionalism:<%= generate_review_stars(booking.review.professionalism)%>
                </p>
                <p>
                  Punctuality: <%= generate_review_stars(booking.review.punctuality)%>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h3>
                  Description: <span><p><%= booking.review.content%></p></span>
                </h3>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      </div>
      <% end %>

  </div>
</div>
