<div class="container">
  <div class="row">
    <div class= "dashboard-container">

      <div class="col-xs-12 col-sm-4">
       <div class= "text-center">
        <%= image_tag 'leore.jpg', class: "dashboard-profile-pic" %>
        <h1><%= @deaf_user.name %></h1>
        <div class= "dashboard-icon">
          <i class="fa fa-american-sign-language-interpreting"></i>
        </div>
        <div class= "profile-edit-link profile-hover-link" href="#">Edit Profile</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="dashboard-bio-and-rating">
        <h2>Languages</h2>
          <% @deaf_user.languages.each do |language|%>
            <p><%= language.name %></p>
          <% end %>
        <h2>Location</h2> <p><%= @deaf_user.location %></p>
      </div>
    </div>

    <div class= "col-xs-8 col-sm-offset-4">
     <div class= "dashboard-upcoming-bookings">
      <h2><strong>UPCOMING BOOKINGS</strong></h2>

      <% @deaf_user.bookings.each do |booking| %>
        <% interpreter_name = Booking.joins(interpreter_id: :interpreter).where('interpreter.name' => [:interpreter])%>
        <h2>Your booking with <%= booking.interpreter_name %>:
        <%= booking.interpreter.start_time %> - <%= booking.interpreter.end_time %> </h2>
        <%= booking.interpreter.price %>
        <h4>How was your experience with <%= booking.interpreter.name %>? <%= link_to "Leave a Review!", new_interpreter_booking_review_path(@interpreter ,@booking)%></h4>
      <% end %>

      </div>
    </div>

    <div class= "col-xs-8 col-sm-offset-4">
<!--       <div class= "dashboard-booking-availability">
       <h2>AVAILABILITY</h2>
       <h2><%= Time.now.strftime("%B %Y") %></h2>
       <%= calendar @date do |date| %>
       <%= date.day %>
       <% end %>
     </div> -->
   </div>


   <div class= "col-xs-8 col-sm-offset-4">
    <div class= "dashboard-review">

      <h2><strong>YOUR REVIEWS</strong></h2>
        <% @deaf_user.booking.reviews.all.each do |review| %>
        <h2> Overall Performance: <%= (((review.language_skill).to_f + (review.friendliness).to_f + (review.professionalism).to_f  + (review.punctuality).to_f) / 4.0).round(1)%>  </h2>
        <p>Language Skill:      <%= (review.language_skill).to_f%>         </p>
        <p>Friendliness:        <%= (review.friendliness).to_f%>           </p>
        <p>Professionalism:     <%= (review.professionalism).to_f%>        </p>
        <p>Punctuality:         <%= (review.punctuality).to_f%>            </p>
        <h2>Description:        <%= review.content%>                       </h2>
        <p> ______________________________________________________________________________________________</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
</div>

