<div class="col-xs-3">
  <div class="profile-bar">
    <div class="info">
      <%= @interpreter.name%>
      <%= @interpreter.bio%>
      <%= @interpreter.years_of_experience%>
      <%= @interpreter.location%>
      <%= @interpreter.price%>
      <%= cl_image_tag @interpreter.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>
