<div class= "text-center">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h3>Welcome to SignKick!</h3>
        <p>We're always looking for more interpreters.</p>
        <p>Please give us some more information about yourself:</p>
        <%= simple_form_for @interpreter do |f| %>
        <%= f.input :name, placeholder: "Name",required: true, autofocus: true  %>
        <%= f.input :bio, placeholder: "Description"  %>
        <%= f.input :years_of_experience, placeholder: "Years Experience" %>
        <%= f.input :location, placeholder: "Location" %>
        <%= f.input :price, placeholder: "Average Hourly Price" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
