<div class= "interpreter-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="text-center">
          <%= image_tag @interpreter.photo, class: "profile-pic img-circle" %>
          <h1><%= @interpreter.name %></h1>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="text-right">
                <h2>Overall Rating</h2>
                <p>Language Skill</p>
                <p>Friendliness</p>
                <p>Professionalism</p>
                <p>Punctuality</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="text-left">
              <h2 class="gold-star"><%= @interpreter.overall_performance ? generate_review_stars(@interpreter.overall_performance) : "/"%></h2>
                <p><%= @interpreter.language_ability ? generate_review_stars(@interpreter.language_ability) : "/" %></p>
                <p><%= @interpreter.friendliness ? generate_review_stars(@interpreter.friendliness) : "/" %></p>
                <p><%= @interpreter.professionalism ? generate_review_stars(@interpreter.professionalism) : "/" %></p>
                <p><%= @interpreter.punctuality ? generate_review_stars(@interpreter.punctuality) : "/" %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="interpreter-details">
          <div class="dashboard-bio-and-rating">
            <h2>ABOUT</h2> <p><%=@interpreter.bio%></p>
            <h3>LANGUAGES</h3>
            <% @interpreter.languages.each do |language|%>
            <p><%= language.name %></p>
            <% end %>
            <h3>LOCATION</h3> <p><%= @interpreter.location %></p>
            <h3>PRICE PER HOUR</h3> <p><%= @interpreter.price %></p>
            <h3>YEARS EXPERIENCE</h3> <p><%= @interpreter.years_of_experience %></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
       <div class= "interpreter-booking">
        <h2>BOOKING FORM</h2>
        <%= render 'layouts/booking' %>
        <p>$<%= @interpreter.price %>/hour</p>
      </div>
    </div>

    <div class= "col-xs-8 col-sm-offset-4">
      <div class= "interpreter-reviews-availability">
        <h2>AVAILABILITY</h2>
        <br>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quisquam numquam. Quam sapiente suscipit, eaque et, perspiciatis cupiditate quos architecto beatae iusto, esse minus corporis est ab ea nobis libero.</p>
      </div>
    </div>

    <div class= "col-xs-8 col-sm-offset-4">
      <div class= "dashboard-review">
        <h2>REVIEWS</h2>

        <p>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reprehenderit quo facilis rem magnam unde atque harum tenetur tempora maxime, recusandae expedita natus debitis adipisci quidem consectetur blanditiis ut inventore.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita vel, sed aperiam impedit perspiciatis tempore nihil suscipit dolores. Maxime veniam deserunt repellat aliquam reprehenderit odio inventore iure doloremque ipsum sint!
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis molestiae non, odio sunt cum maxime doloremque modi similique rem provident totam optio aliquam fugiat facilis, cumque adipisci nemo. Voluptatibus, officia.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam id, iste, velit reprehenderit impedit minus aut itaque molestias cumque, quis voluptas voluptate suscipit aliquid nemo architecto. Cumque iusto aut fugit.
          <br>
          <br>

        </p>
        <% @interpreter.reviews.all.each do |review| %>
        <h2> Overall Performance: <%= (((review.language_ability).to_f + (review.friendliness).to_f + (review.professionalism).to_f  + (review.punctuality).to_f) / 4.0).round(1)%>  </h2>
        <p>Language Skill:      <%= (review.language_ability).to_f%>         </p>
        <p>Friendliness:        <%= (review.friendliness).to_f%>           </p>
        <p>Professionalism:     <%= (review.professionalism).to_f%>        </p>
        <p>Punctuality:         <%= (review.punctuality).to_f%>            </p>
        <h2>Description:        <%= review.content%>                       </h2>
        <p> ______________________________________________________________________________________________</p>
        <% end %>
      </div>
    </div>


  </div>
</div>
</div>

