<div class= "interpreter-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="text-center">
          <%= image_tag @interpreter.photo, class: "profile-pic img-circle" %>
          <h1><%= @interpreter.name %></h1>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="text-right">
                <h2>Overall Rating</h2>
                <p>Language Skill</p>
                <p>Friendliness</p>
                <p>Professionalism</p>
                <p>Punctuality</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="text-left">
                <h2>
                  <span class="gold-star">
                    <%= @interpreter.overall_performance ? generate_review_stars(@interpreter.overall_performance) : "/"%>
                  </span>
                </h2>
                <p><%= @interpreter.language_ability ? generate_review_stars(@interpreter.language_ability) : "/" %></p>
                <p><%= @interpreter.friendliness ? generate_review_stars(@interpreter.friendliness) : "/" %></p>
                <p><%= @interpreter.professionalism ? generate_review_stars(@interpreter.professionalism) : "/" %></p>
                <p><%= @interpreter.punctuality ? generate_review_stars(@interpreter.punctuality) : "/" %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="interpreter-details">
          <div class="dashboard-bio-and-rating">
            <h2>ABOUT</h2> <p><%=@interpreter.bio%></p>
            <div class="row">
              <div class="col-xs-6">
                <h3>LANGUAGES</h3>
                <% @interpreter.languages.each do |language|%>
                <p><%= language.name %></p>
                <% end %>
              </div>
              <div class="col-xs-6">
                <h3>LOCATION</h3> <p><%= @interpreter.location %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <h3>PRICE PER HOUR</h3> <p id="price" ><%= @interpreter.price %></p>
              </div>
              <div class="col-xs-6">
                <h3>YEARS EXPERIENCE</h3> <p><%= @interpreter.years_of_experience %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
       <div class= "interpreter-booking">
        <h2>BOOKING FORM</h2>
        <p>Price: $<%= @interpreter.price %>/hour</p>
        <%= render 'layouts/booking' %>
      </div>
    </div>
    <div class= "col-xs-8 col-sm-offset-4">
      <div class= "interpreter-reviews-availability">
        <h2>AVAILABILITY</h2>
        <h2><%= Time.now.strftime("%B %Y") %></h2>
        <%= calendar @date do |date| %>
        <%= date.day %>
        <% end %>
      </div>
    </div>
    <div class= "col-xs-8 col-sm-offset-4">
      <div class= "dashboard-review max-width-review">
        <h2>REVIEWS</h2>
        <% @interpreter.reviews.all.each do |review| %>
        <h2> Overall Performance: <span class="gold-star"> <%= generate_review_stars(review.overall_performance)%> </span>
        </h2>
        <div class="row">
          <div class="col-xs-4">
            <p>Language Skill:      <%= generate_review_stars(review.language_ability)%>             </p>
            <p>Friendliness:        <%= generate_review_stars(review.friendliness)%>                 </p>
          </div>
          <div class="col-xs-8">
            <p>Professionalism:     <%= generate_review_stars(review.professionalism)%>              </p>
            <p>Punctuality:         <%= generate_review_stars(review.punctuality)%>                  </p>
          </div>
        </div>
        <h2>Description</h2><p> <%= review.content%>                                                   </p>
        <h3 class="text-right"> - <%= review.deaf_user.name%> (<%= review.booking.booking_date.strftime("%m/%d/%Y") %>)</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

