 <h1><%= @interpreter.name %></h1>
 <h2><%= truncate(@interpreter.bio, :length => 40, :separator => ' ')%></h2>
 <p><%= @interpreter.location %></p>
 <p><%= @interpreter.price %></p>
 <p><%= @interpreter.years_of_experience %></h1>
 <p><%= render 'layouts/booking' %></p>
