<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <div class= "interpreter-sign-in">
        <div class="dashboard-bio-and-rating">
          <h1>Review of your booking with <%= @interpreter.name%></h1>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 text-right">
                <p>Start Time: <%= @booking.start_time %></p>
                <p>End Time: <%= @booking.end_time %></p>
              </div>
              <div class="col-xs-12 col-sm-6 text-left">
                <p>Location: <%= @booking.location %></p>
                <p>Price: $<%= @interpreter.price %></p>
              </div>
            </div>
          </div>
          <div class="padded-div-top">
            <p>If this information is correct, continue to <strong>payment</strong></p>
            <p>If this information is incorrect, please <strong><%= link_to "fix it", edit_interpreter_booking_path(@interpreter.id, @booking.id) %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-right padded-div-top text-center">
  <button type="button" class="btn-grey"><%= link_to "Back to Search", root_path%></button>
</div>
