<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h2>Review of your booking with <%= @interpreter.name%></h2>
      <h4>Start Time: <%= @booking.start_time %></h4>
      <h4>End Time: <%= @booking.end_time %></h4>
      <h4>Location: <%= @booking.location %></h4>
      <h4>Price: <%= @booking.price %></h4>
      <h3>If this information is correct, continue to <strong>payment</strong></h3>
      <h3>If this information is incorrect, please <strong><%= link_to "fix it", edit_interpreter_booking_path(@interpreter.id, @booking.id) %></strong></h3>
      <h4><%= link_to "After your booking, please leave a review for your interpreter!", new_interpreter_booking_review_path(@interpreter ,@booking) %></h4>
    </div>
  </div>
</div>
<div class="text-right padded-div-top text-center">
<button type="button" class="sk-btn btn-green"><%= link_to "Finished", dashboard_path(@deaf_user)%></button>
</div>
<div class="text-right padded-div-top text-center">
<button type="button" class="btn-grey"><%= link_to "Back to Search", root_path%></button>
</div>
