<!-- banner -->

<div class="banner" style="background-image: url('<%= image_path 'backgroundgiff.gif'%>')">
  <div class="banner-content">
    <h1>Welcome to SignKick</h1>
    <p>Find your sign language partner</p>
  </div>
</div>

<!-- Form bar: date, location, languages, tags -->

<div class= "search-form">
  <div class= "list-inline">
    <div class= "text-center sk-search-form">
      <!--  To DO: form to get params, search, show results -->
      <%= form_tag(search_path, method: :get) do %>
      <%= label_tag(:language, "Language") %>
      <%= text_field_tag(:language) %>
      <%= label_tag(:date, "When") %>
      <%= date_field_tag(:date) %>
      <%= label_tag(:location, "Where") %>
      <%= text_field_tag(:location) %>
      <%= submit_tag 'Search', method: :get, class: "btn-green sk-btn" %>
      <% end %>
    </div>
  </div>
</div>

<!-- CARDS -->

<div class="container">
  <div class="row">
    <% Interpreter.all.each do |interpreter|%>
      <%= render 'layouts/card', interpreter: interpreter %>
    <% end %>
  </div>
</div>



