<div class= "booking-form">
  <div class= "list-inline">
    <div class= "sk-booking-form">
      <%= simple_form_for [@interpreter, @booking] do |f| %>
      <%= f.input :location, placeholder: "Location" %>
      <%= f.input :start_time, placeholder: "Start time" %>
      <%= f.input :end_time, placeholder: "End time" %>
      <%= f.button :submit, "Book", class: "btn-green sk-btn" %>
      <% end %>
    </div>
  </div>
</div>
