
<div class= "sk-booking-form booking-form">
  <%= form_tag(interpreter_bookings_path(@interpreter)) do %>

  <div class= "label-spacing">
    <%= label_tag(:location, "Location") %>
    <%= text_field_tag(:location) %>
  </div>


  <div class="label-spacing">
    <%= label_tag(:booking_date, "Date") %>
    <%= date_field_tag(:booking_date) %>
  </div>

  <ul>
    <li>
      <%= label_tag(:start_time, "Start time") %>
      <%= time_select(:start_time, "Start time") %>
    </li><li>
    <%= label_tag(:duration, "Duration") %>
    <%= select_tag(:duration, options_for_select(select_duration)) %>
  </li>
</ul>

<!-- Button trigger modal -->
<button type="button" class="book-interpreter-button green-book-interpreter-button full-width" id="book-btn" data-toggle="modal" data-target="#myModal">
  Book
</button>


<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Booking confirmation</h2>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to book with <%= @interpreter.name %>?</p>
        <div class="booking-details">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="book-interpreter-button white-book-interpreter-button" data-dismiss="modal">Cancel</button>
        <%= submit_tag 'Confirm',class: "book-interpreter-button green-book-interpreter-button"%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
</div>

