<div class="col-xs-12 col-sm-4">
  <div class="card-container">
   <div class="card">
     <div class="front">
       <div class="cover">
         <%= image_tag '/images/cover.jpeg' %>
       </div>
       <div class="user">
         <%= image_tag interpreter.photo , class: "img-circle" %>
       </div>
       <div class="content">
         <div class="main">
           <h3 class="name"><%= interpreter.name %></h3>
           <p class="profession"><%= interpreter.location %></p>
           <p class="gold-star text-center"><%= generate_review_stars(interpreter.overall_performance)%></p>
         </div>
         <div class="footer">
           <div class="rating">
             <i class="fa fa-mail-forward"></i>
           </div>
         </div>
       </div>
     </div> <!-- end front panel -->
     <div class="back">
      <%= link_to interpreter_path(interpreter) do %>
      <div class="header">
       <h5 class="motto"> Access <%=interpreter.name%>'s Profile</h5>
     </div>
     <div class="content">
       <div class="main">
         <h4 class="text-center">Bio</h4>
         <p class="text-center"><%= truncate(interpreter.bio, :length => 180, separator: ' ', :omission => "...." , :escape => false)%></p>
         <div class="stats-container">
           <div class="stats">
            <%if interpreter.years_of_experience.nil? %>
            <h4>Languages</h4>
            <%= list_languages(interpreter) %>
          </div>
          <div class="stats">
           <h4>Location</h4>
           <p>
             <%= intepreter.location %>
             <% else %>
             <h4>Languages</h4>
             <%= list_languages(interpreter) %>
           </div>
           <div class="stats">
             <h4>Experience</h4>
             <p>
               <%= interpreter.years_of_experience %> years
               <% end %>
             </p>
           </div>
         </div>
       </div>
     </div>
     <% end %>
     <div class="footer">
       <div class="social-links text-center">
         <i class="fa fa-envelope-o"></i>
       </div>
     </div>
   </div> <!-- end back panel -->
 </div> <!-- end card -->
</div> <!-- end card-container -->
</div>
