<div class="navbar-sidekick">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-sidekick-brand" do %>
  <%= image_tag "ily.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-sidekick-right hidden-xs hidden-sm">

   <!-- Different navigation if login or not -->
   <% if user_signed_in? %>

   <!-- Notification -->
   <%= link_to "#", class: "navbar-sidekick-item navbar-sidekick-link" do %>
   <div class="badge-container">
    <i class="fa fa-envelope-o"></i>
    <div class="badge badge-blue">3</div>
  </div>
  <% end %>

  <!-- Profile picture and dropdown -->
  <div class="navbar-sidekick-item">
    <div class="list-inline">
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    </div>
  </div>

  <% else %>

  <!-- Login text link -->
  <%= link_to t(".sign_in", default: ""), new_user_session_path, class: "fa fa-deaf fa-2x navbar-link" %>

  <% end %>

  <!-- Button (call-to-action) -->
  <%= link_to t(".sign_up", default: ""), new_user_session_path, class: "fa fa-american-sign-language-interpreting fa-2x navbar-link" %>

</div>

<!-- Dropdown list appearing on mobile only -->
<div class="navbar-sidekick-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-sidekick-dropdown-menu">
      <li><a href="#">Some mobile link</a></li>
      <li><a href="#">Other one</a></li>
      <li><a href="#">Other one</a></li>
    </ul>
  </div>
</div>
</div>
